<head>
    <meta charset="UTF-8">
    <title>Curso JavaScript RocketSeat</title>
</head>

<body>
    <div id="app">
        <div class="box"></div>
        <div class="blueBox"></div>
        <div class="purpple"></div>
    </div>

    <script>
        var boxElement = document.querySelector('.box');
        var blueBox = document.querySelector('.blueBox');
        var purppleBox = document.querySelector('.purpple');

        //estilizando o elemento
        boxElement.style.width = 100;
        boxElement.style.height = 100;
        boxElement.style.backgroundColor = '#f00';

        blueBox.style.width = 100;
        blueBox.style.height = 100;
        blueBox.style.backgroundColor = '#0074D9';

        purppleBox.style.width = 100;
        purppleBox.style.height = 100;
        purppleBox.style.backgroundColor = '#B10DC9';

    </script>

</body>

</html>